In [4]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv(r"C:\Users\Akanksha\Downloads\winequality.csv")

In [6]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,good,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0,red

In [7]:
df.shape

(6497, 14)

In [8]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'good', 'color'],
      dtype='object')

In [9]:
df.duplicated().sum()

1177

In [10]:
df.drop_duplicates(inplace = True)

In [11]:
df.duplicated().sum()

0

In [12]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
good                    0
color                   0
dtype: int64

In [13]:
df.shape

(5320, 14)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5320 entries, 0 to 6496
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         5320 non-null   float64
 1   volatile acidity      5320 non-null   float64
 2   citric acid           5320 non-null   float64
 3   residual sugar        5320 non-null   float64
 4   chlorides             5320 non-null   float64
 5   free sulfur dioxide   5320 non-null   float64
 6   total sulfur dioxide  5320 non-null   float64
 7   density               5320 non-null   float64
 8   pH                    5320 non-null   float64
 9   sulphates             5320 non-null   float64
 10  alcohol               5320 non-null   float64
 11  quality               5320 non-null   int64
 12  good                  5320 non-null   int64
 13  color                 5320 non-null   object
dtypes: float64(11), int64(2), object(1)
memory usage: 623.4+ KB

### STEP 1 : IDENTIFY INPUT AND OUTPUT VARIABLES

In [15]:
x = df[['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol', 'good', 'color']]
y = df['quality']

In [17]:
x

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,good,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,0,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,0,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,0,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,0,red
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,0,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,0,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,0,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,0,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,1,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,0,white

In [18]:
y

0       5
1       5
2       5
3       6
5       5
       ..
6492    6
6493    5
6494    6
6495    7
6496    6
Name: quality, Length: 5320, dtype: int64

### STEP 2 : SPLITING THE DATA INTO TRAIN AND TEST

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train,X_test, y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [21]:
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(3990, 13) (3990,)
(1330, 13) (1330,)

### STEP 3 : DATA PREPARATION FOR X_TRAIN

In [22]:
X_train_cat = X_train.select_dtypes(include=['object'])
X_train_num = X_train.select_dtypes(include=['int64', 'float64'])

In [23]:
X_train_cat.head()

      color
24      red
1791  white
5708  white
5101  white
5255  white

In [24]:
X_train_num.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,good
24,6.9,0.400,0.14,2.4,0.085,21.0,40.0,0.99680,3.43,0.63,9.7,0
1791,6.8,0.280,0.36,8.0,0.045,28.0,123.0,0.99280,3.02,0.37,11.4,0
5708,5.0,0.255,0.22,2.7,0.043,46.0,153.0,0.99238,3.75,0.76,11.3,0
5101,6.7,0.290,0.45,14.3,0.054,30.0,181.0,0.99869,3.14,0.57,9.1,0
5255,7.1,0.280,0.28,8.5,0.030,25.0,191.0,0.99338,3.16,0.46,12.2,1

In [25]:
from sklearn.preprocessing import OneHotEncoder

encoder_ = OneHotEncoder(drop='first', sparse_output=False)

# column names are (annoyingly) lost after OneHotEncoding
# (i.e. the dataframe is converted to a numpy ndarray)
X_train_cat_tansformed = pd.DataFrame(encoder_.fit_transform(X_train_cat), 
                               columns=encoder_.get_feature_names_out(), 
                               index = X_train_cat.index)
X_train_cat_tansformed.head()

      color_white
24            0.0
1791          1.0
5708          1.0
5101          1.0
5255          1.0

In [26]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# column names are (annoyingly) lost after Scaling
# (i.e. the dataframe is converted to a numpy ndarray)
X_train_num_transformed = pd.DataFrame(scaler.fit_transform(X_train_num), 
                                    columns = scaler.get_feature_names_out(), 
                                    index = X_train_num.index)

X_train_num_transformed.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,good
24,-0.232448,0.329004,-1.192456,-0.585862,0.804394,-0.506461,-1.296924,0.768267,1.252118,0.642708,-0.726266,-0.485860
1791,-0.309791,-0.380930,0.286217,0.653463,-0.320475,-0.121068,0.153120,-0.580131,-1.282517,-1.099870,0.699668,-0.485860
5708,-1.701978,-0.528833,-0.654757,-0.519469,-0.376719,0.869941,0.677232,-0.721713,3.230370,1.513997,0.615789,-0.485860
5101,-0.387135,-0.321769,0.891129,2.047704,-0.067379,-0.010956,1.166404,1.405385,-0.540673,0.240575,-1.229537,-0.485860
5255,-0.077760,-0.380930,-0.251482,0.764117,-0.742301,-0.286236,1.341108,-0.384613,-0.417032,-0.496670,1.370695,2.058208

In [27]:
X_train_transformed = pd.concat([X_train_num_transformed, X_train_cat_tansformed], axis=1)

X_train_transformed.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,good,color_white
24,-0.232448,0.329004,-1.192456,-0.585862,0.804394,-0.506461,-1.296924,0.768267,1.252118,0.642708,-0.726266,-0.485860,0.0
1791,-0.309791,-0.380930,0.286217,0.653463,-0.320475,-0.121068,0.153120,-0.580131,-1.282517,-1.099870,0.699668,-0.485860,1.0
5708,-1.701978,-0.528833,-0.654757,-0.519469,-0.376719,0.869941,0.677232,-0.721713,3.230370,1.513997,0.615789,-0.485860,1.0
5101,-0.387135,-0.321769,0.891129,2.047704,-0.067379,-0.010956,1.166404,1.405385,-0.540673,0.240575,-1.229537,-0.485860,1.0
5255,-0.077760,-0.380930,-0.251482,0.764117,-0.742301,-0.286236,1.341108,-0.384613,-0.417032,-0.496670,1.370695,2.058208,1.0

### STEP 4: DATA PREPARATION FOR X_TEST

In [28]:
X_test_cat = X_test.select_dtypes(include=['object'])
X_test_num = X_test.select_dtypes(include=['int64', 'float64'])

In [29]:
X_test_num_transformed = pd.DataFrame(scaler.transform(X_test_num), 
                                   columns = scaler.get_feature_names_out(), 
                                   index = X_test_num.index)

X_test_num_transformed.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,good
1397,0.076927,1.453067,-0.385907,-0.674385,0.663786,-0.726685,-0.178818,0.444652,0.324813,-0.094537,-0.558509,-0.485860
46,0.386302,3.494129,0.756704,-0.630123,1.619925,-0.451405,-0.004114,0.835687,0.139351,1.312930,-1.145658,-0.485860
4758,-0.232448,-0.913381,0.017367,0.631333,-0.404840,-0.010956,0.275413,0.013164,1.066657,-0.965826,-0.055239,-0.485860
5129,-0.000417,-0.203446,0.219005,0.476417,-0.292353,0.814885,1.113993,0.330038,-0.540673,-0.027514,-0.726266,-0.485860
6364,-1.547290,-0.262608,0.151792,-0.785039,-0.517327,-0.671629,-0.318581,-1.719528,2.055783,-0.362626,2.041723,2.058208

In [30]:
X_test_cat_tansformed = pd.DataFrame(encoder_.transform(X_test_cat), 
                               columns=encoder_.get_feature_names_out(), 
                               index = X_test_cat.index)
X_test_cat_tansformed.head()

      color_white
1397          0.0
46            0.0
4758          1.0
5129          1.0
6364          1.0

In [31]:
X_test_transformed = pd.concat([X_test_num_transformed, X_test_cat_tansformed], axis=1)

X_test_transformed.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,good,color_white
1397,0.076927,1.453067,-0.385907,-0.674385,0.663786,-0.726685,-0.178818,0.444652,0.324813,-0.094537,-0.558509,-0.485860,0.0
46,0.386302,3.494129,0.756704,-0.630123,1.619925,-0.451405,-0.004114,0.835687,0.139351,1.312930,-1.145658,-0.485860,0.0
4758,-0.232448,-0.913381,0.017367,0.631333,-0.404840,-0.010956,0.275413,0.013164,1.066657,-0.965826,-0.055239,-0.485860,1.0
5129,-0.000417,-0.203446,0.219005,0.476417,-0.292353,0.814885,1.113993,0.330038,-0.540673,-0.027514,-0.726266,-0.485860,1.0
6364,-1.547290,-0.262608,0.151792,-0.785039,-0.517327,-0.671629,-0.318581,-1.719528,2.055783,-0.362626,2.041723,2.058208,1.0

### HYPERPRAMETER TUNING THROUGH GRIDSEARCH CV

In [32]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.metrics import mean_squared_error, r2_score

### IN KNN

In [35]:
from sklearn.neighbors import KNeighborsRegressor

In [37]:
tuned_parameters = [{'n_neighbors': [i for i in range(1, 51)], 'p': [1, 2, 3]}]

clf = GridSearchCV(
    estimator=KNeighborsRegressor(),
    param_grid=tuned_parameters,
    scoring='neg_mean_squared_error',  # Use appropriate regression scoring metric
    cv=5,
    return_train_score=True,
    verbose=1
)

clf.fit(X_train_transformed, y_train)

Fitting 5 folds for each of 150 candidates, totalling 750 fits

GridSearchCV(cv=5, estimator=KNeighborsRegressor(),
             param_grid=[{'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,
                                          13, 14, 15, 16, 17, 18, 19, 20, 21,
                                          22, 23, 24, 25, 26, 27, 28, 29, 30, ...],
                          'p': [1, 2, 3]}],
             return_train_score=True, scoring='neg_mean_squared_error',
             verbose=1)

In [38]:
# Get the best parameters and best model
best_params = clf.best_params_
best_model = clf.best_estimator_

# Make predictions
predictions = best_model.predict(X_test_transformed)

# Evaluate the model
mse = mean_squared_error(y_test, predictions)
r2 = r2_score(y_test, predictions)

print("Best Parameters:", best_params)
print("Mean Squared Error:", mse)
print("R-squared Score:", r2)

Best Parameters: {'n_neighbors': 18, 'p': 3}
Mean Squared Error: 0.2820593149540518
R-squared Score: 0.6339976846978382

In [40]:
output_df = pd.DataFrame({'Actual': y_test})
output_df['KNN regressor Prediction'] = predictions

output_df

      Actual  KNN regressor Prediction
1397       5                  5.222222
46         5                  5.166667
4758       6                  5.833333
5129       5                  5.555556
6364       8                  7.388889
...      ...                       ...
3791       6                  5.777778
5088       8                  7.055556
5648       6                  5.888889
6211       5                  5.222222
368        5                  5.222222

[1330 rows x 2 columns]

### IN LINEAR REGRESSION

In [50]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge

In [53]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error, r2_score

tuned_parameters = [{'alpha': [0.1, 1.0, 10.0]}]

clf = GridSearchCV(
    estimator=Ridge(max_iter=5000),
    param_grid=tuned_parameters,
    scoring='neg_mean_squared_error',
    cv=5,
    return_train_score=True,
    verbose=1
)

clf.fit(X_train_transformed, y_train)

# Get the best parameters and best model
best_params = clf.best_params_
best_model = clf.best_estimator_

# Make predictions
predictions = best_model.predict(X_test_transformed)

# Evaluate the model
mse = mean_squared_error(y_test, predictions)
r2 = r2_score(y_test, predictions)

print("Best Parameters:", best_params)
print("Mean Squared Error:", mse)
print("R-squared Score:", r2)

Fitting 5 folds for each of 3 candidates, totalling 15 fits
Best Parameters: {'alpha': 10.0}
Mean Squared Error: 0.289822115216098
R-squared Score: 0.6239246159548331

In [54]:
output_df = pd.DataFrame({'Actual': y_test})
output_df['Linear regressor Prediction'] = predictions

output_df

      Actual  Linear regressor Prediction
1397       5                     5.233169
46         5                     4.794998
4758       6                     5.654368
5129       5                     5.403503
6364       8                     7.300169
...      ...                          ...
3791       6                     5.356665
5088       8                     7.075878
5648       6                     5.777050
6211       5                     5.425611
368        5                     5.367768

[1330 rows x 2 columns]

### IN DT

In [55]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score

tuned_parameters = [{'max_depth': [5, 10, 15], 'min_samples_split': [2, 5, 10]}]

clf = GridSearchCV(
    estimator=DecisionTreeRegressor(),
    param_grid=tuned_parameters,
    scoring='neg_mean_squared_error',  # Use appropriate regression scoring metric
    cv=5,
    return_train_score=True,
    verbose=1
)
clf.fit(X_train_transformed, y_train)

# Get the best parameters and best model
best_params = clf.best_params_
best_model = clf.best_estimator_

# Make predictions
predictions = best_model.predict(X_test_transformed)

# Evaluate the model
mse = mean_squared_error(y_test, predictions)
r2 = r2_score(y_test, predictions)

print("Best Parameters:", best_params)
print("Mean Squared Error:", mse)
print("R-squared Score:", r2)

Fitting 5 folds for each of 9 candidates, totalling 45 fits
Best Parameters: {'max_depth': 5, 'min_samples_split': 10}
Mean Squared Error: 0.30015605302405685
R-squared Score: 0.6105152195499753

In [57]:
output_df = pd.DataFrame({'Actual': y_test})
output_df['Desicion Tree Predictions'] = predictions

output_df

      Actual  Desicion Tree Predictions
1397       5                   5.571283
46         5                   5.021739
4758       6                   5.571283
5129       5                   5.298361
6364       8                   7.193396
...      ...                        ...
3791       6                   5.298361
5088       8                   7.080460
5648       6                   5.835979
6211       5                   5.298361
368        5                   5.298361

[1330 rows x 2 columns]

### IN RF

In [58]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

tuned_parameters = {
    'n_estimators': [50, 100, 200],
    'max_depth': [5, 10, 15],
    'min_samples_split': [2, 5, 10]
}

clf = GridSearchCV(
    estimator=RandomForestRegressor(),
    param_grid=tuned_parameters,
    scoring='neg_mean_squared_error',  # Use appropriate regression scoring metric
    cv=5,
    return_train_score=True,
    verbose=1
)

clf.fit(X_train_transformed, y_train)

# Get the best parameters and best model
best_params = clf.best_params_
best_model = clf.best_estimator_

# Make predictions
predictions = best_model.predict(X_test_transformed)

# Evaluate the model
mse = mean_squared_error(y_test, predictions)
r2 = r2_score(y_test, predictions)

print("Best Parameters:", best_params)
print("Mean Squared Error:", mse)
print("R-squared Score:", r2)

Fitting 5 folds for each of 27 candidates, totalling 135 fits
Best Parameters: {'max_depth': 15, 'min_samples_split': 10, 'n_estimators': 200}
Mean Squared Error: 0.26927413079487383
R-squared Score: 0.6505878370371998

In [59]:
output_df = pd.DataFrame({'Actual': y_test})
output_df['Random Tree Predictions'] = predictions

output_df

      Actual  Random Tree Predictions
1397       5                 5.194036
46         5                 5.006196
4758       6                 5.747977
5129       5                 5.375388
6364       8                 7.093476
...      ...                      ...
3791       6                 5.394502
5088       8                 7.038817
5648       6                 5.923636
6211       5                 5.365951
368        5                 5.248779

[1330 rows x 2 columns]