In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("attendance_data.csv")

In [3]:
df

,Timestamp,Email Address,Date,Session,Participants [KATRAGADDA KEERTHI],Participants [ANKITHA POTU],Participants [Laghumarapu Yashas Gupta],Participants [Umamahesh Yenamala],Participants [MAHESH SAI KOPPERLA],Participants [PRATIK PATIDAR],...,Participants [Hadassa Rani Koti],Participants [Natakarani venkat],Participants [MANOJ KUMAR RAPAKA],Participants [Sai Charan Upperi],Participants [Jogannagari Abhilash Reddy],Participants [Setty madhava rao],Participants [GANUGAPENTA GNANA DEEPIKA],Participants [Sruthi kunaparaju],Participants [Veerla prashanth],Participants [Thangallapalli sanhita]
0,8/7/2023 14:29:23,chaitanya.varma@innomatics.in,8/7/2023,Python Module,Absent,Absent,Present,Present,Absent,Absent,...,Present,Absent,Present,Absent,Absent,Absent,Present,Present,Present,Present
1,8/8/2023 14:10:01,chaitanya.varma@innomatics.in,8/8/2023,Python Module,Absent,Absent,Present,Present,Absent,Absent,...,Present,Absent,Absent,Absent,Absent,Absent,Absent,Present,Absent,Absent
2,8/9/2023 14:33:57,chaitanya.varma@innomatics.in,8/9/2023,Python Module,Absent,Absent,Present,Present,Absent,Absent,...,Absent,Present,Present,Present,Absent,Absent,Absent,Present,Present,Absent
3,8/11/2023 15:20:51,chaitanya.varma@innomatics.in,8/11/2023,Python Module,Present,Present,Present,Absent,Absent,Absent,...,Absent,Present,Present,Present,Absent,Absent,Absent,Absent,Present,Absent
4,8/16/2023 17:34:25,chaitanya.varma@innomatics.in,8/16/2023,Python Module,Absent,Absent,Present,Present,Present,Present,...,Present,Absent,Present,Present,Present,Present,Present,Present,Present,Present
5,8/17/2023 15:12:31,chaitanya.varma@innomatics.in,8/17/2023,Python Module,Absent,Present,Present,Present,Present,Present,...,Present,Absent,Present,Present,Absent,Absent,Absent,Present,Present,Absent
6,8/18/2023 15:37:31,chaitanya.varma@innomatics.in,8/18/2023,Python Module,Absent,Present,Present,Absent,Present,Absent,...,Present,Present,Present,Present,Absent,Present,Absent,Present,Present,Absent

In [4]:
columns = [col.lower().replace("-", "_").replace("participants","").replace("[","").replace("]","").strip() for col in df.columns ]

df.columns = columns

In [5]:
df.columns

Index(['timestamp', 'email address', 'date', 'session', 'katragadda keerthi',
       'ankitha potu', 'laghumarapu yashas gupta', 'umamahesh yenamala',
       'mahesh sai kopperla', 'pratik patidar', 'shaik zaheer',
       'aakula shivani goud', 'davuluru nithish kumar', 'pranav bhawsar',
       'vangapandu lakshmi', 'pavan kumar reddy _ banavasi', 'kusuma tamarapu',
       'odeti vijay', 'abhinay rachakonda', 'doppalapudi abilasha',
       'bhagya sree guthula', 'sankararao laveti', 'gaddam huldah grace',
       'deepraj madhavrao vadhwane', 'vavilapalli jayakumar',
       'a m suneel kumar', 'naga tejaswini balne', 'karthik kumar _ konda',
       'prajwal krishant gharal', 'shaheer shaik', 'wagh akanksha sunil',
       'sai ravi varma nadakudhiti', 'vanita deshmukh', 'maddela ravi teja',
       'potuka geetha', 'sathvika pulichintha', 'chirudeep sanchula',
       'putti swathi priyadarsini', 'kondapalli sri bhavana',
       'pesala pavan kumar', 'saadhika yalavarthi', 'mora sai charan',
       'sri rajyalakshmi tammisetti', 'sushma eunice rekala',
       'hadassa rani koti', 'natakarani venkat', 'manoj kumar rapaka',
       'sai charan upperi', 'jogannagari abhilash reddy', 'setty madhava rao',
       'ganugapenta gnana deepika', 'sruthi kunaparaju', 'veerla prashanth',
       'thangallapalli sanhita'],
      dtype='object')

In [6]:
df["date"] = pd.to_datetime(df["date"], format='%m/%d/%Y')

In [7]:
df.head()

,timestamp,email address,date,session,katragadda keerthi,ankitha potu,laghumarapu yashas gupta,umamahesh yenamala,mahesh sai kopperla,pratik patidar,...,hadassa rani koti,natakarani venkat,manoj kumar rapaka,sai charan upperi,jogannagari abhilash reddy,setty madhava rao,ganugapenta gnana deepika,sruthi kunaparaju,veerla prashanth,thangallapalli sanhita
0,8/7/2023 14:29:23,chaitanya.varma@innomatics.in,2023-08-07,Python Module,Absent,Absent,Present,Present,Absent,Absent,...,Present,Absent,Present,Absent,Absent,Absent,Present,Present,Present,Present
1,8/8/2023 14:10:01,chaitanya.varma@innomatics.in,2023-08-08,Python Module,Absent,Absent,Present,Present,Absent,Absent,...,Present,Absent,Absent,Absent,Absent,Absent,Absent,Present,Absent,Absent
2,8/9/2023 14:33:57,chaitanya.varma@innomatics.in,2023-08-09,Python Module,Absent,Absent,Present,Present,Absent,Absent,...,Absent,Present,Present,Present,Absent,Absent,Absent,Present,Present,Absent
3,8/11/2023 15:20:51,chaitanya.varma@innomatics.in,2023-08-11,Python Module,Present,Present,Present,Absent,Absent,Absent,...,Absent,Present,Present,Present,Absent,Absent,Absent,Absent,Present,Absent
4,8/16/2023 17:34:25,chaitanya.varma@innomatics.in,2023-08-16,Python Module,Absent,Absent,Present,Present,Present,Present,...,Present,Absent,Present,Present,Present,Present,Present,Present,Present,Present

In [8]:
df["Present"] = (df=="Present").sum(axis =1)
df["Absent"] = (df=="Absent").sum(axis=1)
df["Total_students"]= df["Present"] + df["Absent"]
df["Percentage"]= (df["Present"]/df["Total_students"])*100

In [9]:
df.head()

,timestamp,email address,date,session,katragadda keerthi,ankitha potu,laghumarapu yashas gupta,umamahesh yenamala,mahesh sai kopperla,pratik patidar,...,jogannagari abhilash reddy,setty madhava rao,ganugapenta gnana deepika,sruthi kunaparaju,veerla prashanth,thangallapalli sanhita,Present,Absent,Total_students,Percentage
0,8/7/2023 14:29:23,chaitanya.varma@innomatics.in,2023-08-07,Python Module,Absent,Absent,Present,Present,Absent,Absent,...,Absent,Absent,Present,Present,Present,Present,35,15,50,70.0
1,8/8/2023 14:10:01,chaitanya.varma@innomatics.in,2023-08-08,Python Module,Absent,Absent,Present,Present,Absent,Absent,...,Absent,Absent,Absent,Present,Absent,Absent,23,27,50,46.0
2,8/9/2023 14:33:57,chaitanya.varma@innomatics.in,2023-08-09,Python Module,Absent,Absent,Present,Present,Absent,Absent,...,Absent,Absent,Absent,Present,Present,Absent,30,20,50,60.0
3,8/11/2023 15:20:51,chaitanya.varma@innomatics.in,2023-08-11,Python Module,Present,Present,Present,Absent,Absent,Absent,...,Absent,Absent,Absent,Absent,Present,Absent,28,22,50,56.0
4,8/16/2023 17:34:25,chaitanya.varma@innomatics.in,2023-08-16,Python Module,Absent,Absent,Present,Present,Present,Present,...,Present,Present,Present,Present,Present,Present,42,8,50,84.0

In [10]:
df.loc[df["date"].dt.year == 2023,["date","Present","Absent","Percentage"]]

        date  Present  Absent  Percentage
0 2023-08-07       35      15        70.0
1 2023-08-08       23      27        46.0
2 2023-08-09       30      20        60.0
3 2023-08-11       28      22        56.0
4 2023-08-16       42       8        84.0
5 2023-08-17       43       7        86.0
6 2023-08-18       40      10        80.0

In [12]:
df1= df.drop(["timestamp","email address","session",'Present', 'Absent', 'Total_students',
       'Percentage'], axis =1)

In [13]:
df1

,date,katragadda keerthi,ankitha potu,laghumarapu yashas gupta,umamahesh yenamala,mahesh sai kopperla,pratik patidar,shaik zaheer,aakula shivani goud,davuluru nithish kumar,...,hadassa rani koti,natakarani venkat,manoj kumar rapaka,sai charan upperi,jogannagari abhilash reddy,setty madhava rao,ganugapenta gnana deepika,sruthi kunaparaju,veerla prashanth,thangallapalli sanhita
0,2023-08-07,Absent,Absent,Present,Present,Absent,Absent,Present,Absent,Absent,...,Present,Absent,Present,Absent,Absent,Absent,Present,Present,Present,Present
1,2023-08-08,Absent,Absent,Present,Present,Absent,Absent,Present,Absent,Absent,...,Present,Absent,Absent,Absent,Absent,Absent,Absent,Present,Absent,Absent
2,2023-08-09,Absent,Absent,Present,Present,Absent,Absent,Present,Present,Absent,...,Absent,Present,Present,Present,Absent,Absent,Absent,Present,Present,Absent
3,2023-08-11,Present,Present,Present,Absent,Absent,Absent,Absent,Present,Absent,...,Absent,Present,Present,Present,Absent,Absent,Absent,Absent,Present,Absent
4,2023-08-16,Absent,Absent,Present,Present,Present,Present,Present,Present,Absent,...,Present,Absent,Present,Present,Present,Present,Present,Present,Present,Present
5,2023-08-17,Absent,Present,Present,Present,Present,Present,Present,Present,Absent,...,Present,Absent,Present,Present,Absent,Absent,Absent,Present,Present,Absent
6,2023-08-18,Absent,Present,Present,Absent,Present,Absent,Present,Present,Absent,...,Present,Present,Present,Present,Absent,Present,Absent,Present,Present,Absent

In [14]:
reshaped_df = df1.transpose()

In [15]:
reshaped_df.head()

,0,1,2,3,4,5,6
date,2023-08-07 00:00:00,2023-08-08 00:00:00,2023-08-09 00:00:00,2023-08-11 00:00:00,2023-08-16 00:00:00,2023-08-17 00:00:00,2023-08-18 00:00:00
katragadda keerthi,Absent,Absent,Absent,Present,Absent,Absent,Absent
ankitha potu,Absent,Absent,Absent,Present,Absent,Present,Present
laghumarapu yashas gupta,Present,Present,Present,Present,Present,Present,Present
umamahesh yenamala,Present,Present,Present,Absent,Present,Present,Absent

In [16]:
# Set the first row as column names
reshaped_df.columns = reshaped_df.iloc[0]

# Remove the first row
reshaped_df = reshaped_df[1:]
reshaped_df.head()

date,2023-08-07,2023-08-08,2023-08-09,2023-08-11,2023-08-16,2023-08-17,2023-08-18
katragadda keerthi,Absent,Absent,Absent,Present,Absent,Absent,Absent
ankitha potu,Absent,Absent,Absent,Present,Absent,Present,Present
laghumarapu yashas gupta,Present,Present,Present,Present,Present,Present,Present
umamahesh yenamala,Present,Present,Present,Absent,Present,Present,Absent
mahesh sai kopperla,Absent,Absent,Absent,Absent,Present,Present,Present

In [17]:
reshaped_df.columns

DatetimeIndex(['2023-08-07', '2023-08-08', '2023-08-09', '2023-08-11',
               '2023-08-16', '2023-08-17', '2023-08-18'],
              dtype='datetime64[ns]', name='date', freq=None)

In [18]:
reshaped_df["Present"] = (reshaped_df=="Present").sum(axis=1)

In [19]:
reshaped_df["Absent"] = (reshaped_df =="Absent").sum(axis=1)

In [22]:
reshaped_df["Total_days"] = reshaped_df['Present'] + reshaped_df['Absent']

In [23]:
reshaped_df["Percentage"] = (reshaped_df["Present"]/reshaped_df["Total_days"])*100

In [25]:
reshaped_df.head()

date,2023-08-07 00:00:00,2023-08-08 00:00:00,2023-08-09 00:00:00,2023-08-11 00:00:00,2023-08-16 00:00:00,2023-08-17 00:00:00,2023-08-18 00:00:00,Present,Absent,Total_days,Percentage
katragadda keerthi,Absent,Absent,Absent,Present,Absent,Absent,Absent,1,6,7,14.285714
ankitha potu,Absent,Absent,Absent,Present,Absent,Present,Present,3,4,7,42.857143
laghumarapu yashas gupta,Present,Present,Present,Present,Present,Present,Present,7,0,7,100.000000
umamahesh yenamala,Present,Present,Present,Absent,Present,Present,Absent,5,2,7,71.428571
mahesh sai kopperla,Absent,Absent,Absent,Absent,Present,Present,Present,3,4,7,42.857143

In [42]:
reshaped_df = reshaped_df.replace("Present", "P")
reshaped_df = reshaped_df.replace("Absent", "A")

In [43]:
reshaped_df.head()

date,2023-08-07 00:00:00,2023-08-08 00:00:00,2023-08-09 00:00:00,2023-08-11 00:00:00,2023-08-16 00:00:00,2023-08-17 00:00:00,2023-08-18 00:00:00,Present,Absent,Total_days,Percentage
katragadda keerthi,A,A,A,P,A,A,A,1,6,7,14.285714
ankitha potu,A,A,A,P,A,P,P,3,4,7,42.857143
laghumarapu yashas gupta,P,P,P,P,P,P,P,7,0,7,100.000000
umamahesh yenamala,P,P,P,A,P,P,A,5,2,7,71.428571
mahesh sai kopperla,A,A,A,A,P,P,P,3,4,7,42.857143

In [45]:
reshaped_df.index.name = "Learners"

In [53]:
reshaped_df.head()

date,2023-08-07 00:00:00,2023-08-08 00:00:00,2023-08-09 00:00:00,2023-08-11 00:00:00,2023-08-16 00:00:00,2023-08-17 00:00:00,2023-08-18 00:00:00,Present,Absent,Total_days,Percentage
Learners,,,,,,,,,,,
katragadda keerthi,A,A,A,P,A,A,A,1,6,7,14.285714
ankitha potu,A,A,A,P,A,P,P,3,4,7,42.857143
laghumarapu yashas gupta,P,P,P,P,P,P,P,7,0,7,100.000000
umamahesh yenamala,P,P,P,A,P,P,A,5,2,7,71.428571
mahesh sai kopperla,A,A,A,A,P,P,P,3,4,7,42.857143